# services is a version 2 only feature
version: '2'

services:
  server:
    image: "{{ img_name }}:{{ img_ver }}"
    domainname: "{{ dns_domain }}"
{% if labels is defined %}
{% for label in labels %}
    labels:
      - {{ label }}
{% endfor %}
{% endif %}
    restart: always
    mem_limit: {{ resources }}
    network_mode: {{ net_mode }}
{% if dns is defined %}
    dns: {{ dns }}
{% endif %}
    command: {{ command }}
{% if ports is defined %}
    ports:
{% for port in ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{% if envs is defined %}
    environment:
{% for env in envs %}
      - {{ env }}
{% endfor %}
{% endif %}