# services is a version 2 only feature
version: '2'

services:
  server:
    image: "{{ img_name }}"
    domainname: "{{ dns_domain }}"
{% if labels is defined %}
{% for label in labels %}
    labels:
      - {{ label }}
{% endfor %}
{% endif %}
    restart: {{ restart | default(default_restart) }}
    mem_limit: {{ memory | default(default_memory) }}
    network_mode: {{ net_mode | default(default_net_mode) }}
{% if dns is defined %}
    dns: {{ dns }}
{% endif %}
    command: {{ command }}
{% if ports is defined %}
    ports:
{% for port in ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{% if env_vars is defined %}
    environment:
      - ZABBIX_SERVER={{ event_management }}
      - SVC_DISCOVERY={{ svc_discovery }}
{% for env in env_vars %}
      - {{ env }}
{% endfor %}
{% endif %}
